<a href="https://colab.research.google.com/github/Dev-hottae/PINC/blob/master/Mirae_research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Drive Mount

from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [7]:
# Package

import pandas as pd

In [8]:
history_path = '/content/drive/My Drive/project/NLP_PINC/1. Data Set/Mirae Asset 데이터/trade_train.csv'
stocks_info_path = '/content/drive/My Drive/project/NLP_PINC/1. Data Set/Mirae Asset 데이터/stocks.csv'

In [9]:
stocks_price_history = pd.read_csv(stocks_info_path, encoding='utf-8')
trade_history = pd.read_csv(history_path, encoding='utf-8')

In [10]:
trade_history

       Unnamed: 0    기준년월   그룹번호  그룹내고객수  ... 평균매수수량 평균매도수량 매수가격_중앙값  매도가격_중앙값
0               0  201907  MAD01     288  ...     19    234    74800     78500
1               1  201907  MAD01     288  ...    533    154    47385     46700
2               2  201907  MAD01     288  ...    409    528    41411     40000
3               3  201907  MAD01     288  ...    323    451   140602    140628
4               4  201907  MAD01     288  ...     34    101    45350     46850
...           ...     ...    ...     ...  ...    ...    ...      ...       ...
30195       30195  202006  MAD48     163  ...      3      3   835000    797000
30196       30196  202006  MAD48     163  ...     90     42     9900      8870
30197       30197  202006  MAD48     163  ...    271    162   109100     98000
30198       30198  202006  MAD48     163  ...    386    735    10050      9920
30199       30199  202006  MAD48     163  ...    200    190    34682     34489

[30200 rows x 13 columns]

In [11]:
stocks_price_history

         index      기준일자     종목번호       종목명  ...    종목저가    종목종가      거래량 거래금액_만원단위
0            0  20190701  A000020      동화약품  ...    9680    9710    31341     30581
1            1  20190701  A000080     하이트진로  ...   20200   20300   127186    258535
2            2  20190701  A000100      유한양행  ...  250000  251500   395757  10139357
3            3  20190701  A000120    CJ대한통운  ...  133000  136000    62513    846100
4            4  20190701  A000140  하이트진로홀딩스  ...    8910    9000     7661      6896
...        ...       ...      ...       ...  ...     ...     ...      ...       ...
286056  286056  20200728  A336370     두산솔루스  ...   37000   38150  1764085   6755086
286057  286057  20200728  A33637K   두산솔루스1우  ...   17950   18250   302925    565624
286058  286058  20200728  A33637L  두산솔루스2우B  ...   36500   37700    59460    224214
286059  286059  20200728  A344820   케이씨씨글라스  ...   32250   32400    56962    186549
286060  286060  20200728  A353810     이지바이오  ...   57400   57500    76761    450070

[286061 rows x 15 columns]

In [15]:
# stocks info
stocks_info = stocks_price_history.drop_duplicates("종목번호").reset_index(drop=True)[['종목번호', '종목명', '20년7월TOP3대상여부', '시장구분','표준산업구분코드_대분류','표준산업구분코드_중분류','표준산업구분코드_소분류']]
stocks_info

         종목번호       종목명  ...      표준산업구분코드_중분류       표준산업구분코드_소분류
0     A000020      동화약품  ...  의료용 물질 및 의약품 제조업            의약품 제조업
1     A000080     하이트진로  ...            음료 제조업          알코올음료 제조업
2     A000100      유한양행  ...  의료용 물질 및 의약품 제조업            의약품 제조업
3     A000120    CJ대한통운  ...  육상운송 및 파이프라인 운송업          도로 화물 운송업
4     A000140  하이트진로홀딩스  ...               금융업             기타 금융업
...       ...       ...  ...               ...                ...
1082  A237820      플레이디  ...            전문서비스업                광고업
1083  A198080       엔피디  ...          통신장비 제조업           전자부품 제조업
1084  A353810     이지바이오  ...           식료품 제조업  동물용 사료 및 조제식품 제조업
1085  A298060  에스씨엠생명과학  ...  의료용 물질 및 의약품 제조업            의약품 제조업
1086  A297890       엘이티  ...    기타 기계 및 장비 제조업      특수 목적용 기계 제조업

[1087 rows x 7 columns]

In [18]:
# 필요 함수 세팅

# 그룹과 일자 input 시 매수많이 일어난 top 추출함수
def which_is_top(group, date, top):
    data = trade_history[(trade_history['기준년월'] == date) & (trade_history['그룹번호'] == ("MAD"+group))]
    data = data.sort_values(by=["매수고객수"],ascending=False)
    data = data[data['매수고객수'] > 0][:top]

    data = data.merge(stocks_info, how="inner", on="종목번호")
    return data

# 종목명으로 종목코드 가져오기
def code_by_name(name):
    return stocks_info.loc[stocks_info['종목명'] == name]

# 종목코드로 종목명 가져오기
def name_by_code(code):
    return stocks_info.loc[stocks_info['종목번호'] == code]

In [19]:
which_is_top("02", 201907, 5)

   Unnamed: 0    기준년월   그룹번호  ...  표준산업구분코드_대분류     표준산업구분코드_중분류   표준산업구분코드_소분류
0          14  201907  MAD02  ...           제조업   기타 기계 및 장비 제조업  특수 목적용 기계 제조업
1          12  201907  MAD02  ...      금융 및 보험업  금융 및 보험 관련 서비스업     금융 지원 서비스업

[2 rows x 19 columns]

In [20]:
industrial_category = stocks_price_history['표준산업구분코드_대분류'].unique()
industrial_category

array(['제조업', '운수 및 창고업', '금융 및 보험업', '전문· 과학 및 기술 서비스업', '건설업',
       '도매 및 소매업', '정보통신업', '전기· 가스· 증기 및 공기조절 공급업', '개인 서비스업',
       '수도· 하수 및 폐기물 처리· 원료 재생업', '예술· 스포츠 및 여가관련', '서비스업', '교육 서비스업',
       '사업시설관리 및 사업지원 및 임대 서비스업'], dtype=object)

In [22]:
trade_history.groupby('종목번호').sum().sort_values(by=['평균매수수량'], ascending=False)

         Unnamed: 0      기준년월  그룹내고객수  ...   평균매도수량  매수가격_중앙값  매도가격_중앙값
종목번호                                   ...
A025560      342293   6664414   41380  ...  1585230      4863      4694
A004410      307853   4040058   23084  ...  1261022      4101      4079
A003060     1679492  22419719   84825  ...   842517    184689    184631
A097780     1225056  12927802   45548  ...   749091     90796     92345
A008350     2576902  39182038  144572  ...   665598    895226    894096
...             ...       ...     ...  ...      ...       ...       ...
A090360       25585    403912    4603  ...       44     20627     39050
A078340        7997    201912    1615  ...       41        -1    102900
A037460       24832    202005    2879  ...       37        -1      9120
A290670       24669    202005     444  ...      846        -1     25200
A091580       23795    202005     769  ...     2133        -1      6298

[1066 rows x 9 columns]